extends layout

block content
  h1= title
  p Welcome to #{title}
  li
    | /get_last_order
  li 
    | /get_order/:order_number
  li 
    | /get_take_info/:order_number
  li 
    | /get_examine_info/:order_number
    
  
